<section class="discussion-forums">
    <h2>Discussion Forums</h2>
    <ul>
      <li>Paris demonstrators demand EU ban products linked to Uighur slave labour</li>
      <li>Rudy Giuliani admits under oath that he got some of his 'evidence' of alleged election fraud...</li>
      <li>Is it possible to combine CrossFit and bodybuilding?</li>
      <li>Guy jumps through window of moving car and saves it from crashing</li>
      <li>Easily build and edit your online store with Squarespace. Showcasing your e-commerce ...</li>
    </ul>
  </section>
  