<div class="cal-container">
    <div class="cal-header">
      <div>
        <button (click)="setView(CalendarView.Month)">Month</button>
        <button (click)="setView(CalendarView.Week)">Week</button>
        <button (click)="setView(CalendarView.Day)">Day</button>
      </div>
    </div>
    <mwl-calendar-month-view
      *ngIf="view === CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      (dayClicked)="activeDayIsOpen = !activeDayIsOpen">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngIf="view === CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngIf="view === CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events">
    </mwl-calendar-day-view>
  </div>
  